.root {
    -fx-font-size: 16px;
    -fx-font-family: sans-serif;
    -fx-background-color: #FFFFFF;
}

.pane {
    -fx-background-color: #201c22;
}

.button {
    -fx-text-fill: white;
    -fx-background-color: rgba(255,255,255,0.1);
    -fx-background-radius: 0px;
    -fx-border-color: #DEDDFF;
    -fx-border-width: 1px;
    -fx-border-radius: 0px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 1, 0, 0.5, 1);
}

.button:hover {
    -fx-border-width: 3px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 1, 0, 3, 2);
}

.button:pressed {
    -fx-background-color: rgba(255,255,255,0.3);
}

.split-pane {
    -fx-background-color: transparent;
}

.split-pane:horizontal > .split-pane-divider {
   -fx-background-color: transparent;
}
.split-pane:vertical > .split-pane-divider {
   -fx-background-color: transparent;
}

.text-field {
    -fx-text-fill: #FFFFFF;
    -fx-background-color: rgba(255,255,255,0.1);
    -fx-background-radius: 0px;
    -fx-border-color: #DEDDFF;
    -fx-border-radius: 0px;
    -fx-border-width: 1px;
}

.progress-bar {
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
    -fx-border-color: #DEDDFF;
    -fx-border-width: 1px;
}
.progress-bar .track {
    -fx-background-color: rgba(255, 255, 255, 0.1);
    -fx-background-radius: 0px;
}
.progress-bar .bar {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 0px;
}

.transparent-pane {
    -fx-background-color: rgba(0,0,0,0.8);
}

.greenButton {
    -fx-background-color: rgba(0,255,0,0.1);
}
.greenButton:pressed {
    -fx-background-color: rgba(0,255,0,0.3);
}

.redButton {
    -fx-background-color: rgba(255,0,0,0.1);
}
.redButton:pressed {
    -fx-background-color: rgba(255,20,20,0.3);
}

.pane-unit {
    -fx-background-color: #201c22;
    -fx-border-color: #FFFFFF;
    -fx-border-width: 1px;
}

#logo:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(128,128,128,0.6), 1, 0, 3, 2);
}
#logo:pressed {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 1, 0, -0.5, -0.5);
}

#creditTextTitle {
    -fx-font: 36px Helvetica;
    -fx-fill: #FFFFFF;

}
#creditText {
    -fx-font: 24px Helvetica;
    -fx-fill: #FFFFFF;

}
